body{
    /* Margen */
    margin: 0;
    /*  Margen pa dentro  */
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/*****************/

/* Navegacion */
header{
    width: 100%;
    height: 60px;
}


header nav{

    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section{
    width: 250px;
    /*eliminar viñetas*/
    list-style: none;
    /*Flexibilidad a nuestro componente*/
    display: flex;
    /*Centramos horizontalmente los elementos dentro de la lista*/
    justify-content: center;
    /*Centramos verticalmente la lista*/
    align-items: center;
}
a{
    /*elimina linea debajo*/
    text-decoration: none;
}

nav .nav-right-section a{
    color: rgb(18, 17, 17);
    margin-right: 20px;

}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;

}

nav .nav-right-section img{
    border-radius: 30px;
    margin-left: 20px;
    width: 35px;
}
    


**********************

/*buscador*/

main{
    margin-top: 130px;
    text-align: center;
}

main .main-logo{
    width: 370px;
    margin: 0 auto;
    margin-bottom: 40px;
}
main .main-logo img{
    height: 120px;
}

main .main-input{
    width: 550px;
    margin: 0 auto;
    margin-bottom: 40px;
}
main .main-input-container{

    border: 1px solid #dfe1e5;
    border-radius: 20px;
    width: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Cajita de input*/
main .main-input input{
    height: 30px;
    border: none;
    /*Borde cuando seleccionas el elemento*/
    outline: none;
    width: 440px;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size: contain;
    padding-left: 6%;
    background-repeat: no-repeat;
    background-position: center;
    height: 15px;
}
main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    height: 17px;
    width: 17px;
    background-size: contain;
    background-position: center;
    padding-left: 1%;
    background-repeat: no-repeat;

}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-position: center;
    background-size: contain;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    padding-right: 5%;
}

/*Botones*/
main .main-buttons{
width: 350px;
/*Vertical-horizontal*/
margin: 0 auto;

}

main .main-buttons div{
    /*Que esten en la misma linea*/
    display: inline-block;
}

main .main-buttons button{
    background-color: #f8f9fa;
    border: none;
    height: 40px;
    font-size: 16px;
    color: #3c4043;
    padding: 0 15px;
    border-radius: 4px;
    margin-right: 10px;
}
/*Efecto de sombre*/
main .main-input-container:hover{
    box-shadow: 0 0 5px #20212447;
}

main .main-buttons button:hover{
color: #202124;
border: 1px solid #dadce0;
box-shadow: 0 1px 1px #20212447;
}


/******************/

footer{
    display: flex;
    justify-content: flex-end;
}


footer .footer-left{
    width: 900px;
    height: 210px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    align-items:end;

}

footer .footer-left a{
    color: rgb(158, 153, 153);
    margin-right: 15px;
}


footer .footer-right{
    width: 800px;
    height: 0 auto;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

footer .footer-right a{
    color: rgb(149, 143, 143);
    margin-right: 15px;
}